node_modules
/build
/template
/cypress
/mocks

*.map
.browserslistrc
.editorconfig
.eslintrc.js
babel.config.js
package-lock.json
tsconfig.json
yarn.lock
vue.config.js
cypress.json
cypress-*.json

.idea
.vscode