@import url('./../icon/iconfont.css')
@import url('./element-resetting.styl');

html,
body,
ul,
ol,
h1,
h2,
h3,
h4,
h5,
h6,
p,
div
  margin 0
  padding 0
  font-size 14px
  font-family: PingFangSC-Regular, PingFang SC

h1 // 一级标题
  font-size 24px

h2 // 二级标题
  font-size 20px

h3 // 三级标题
  font-size 18px

h4 // 三级标题
  font-size 16px

html,body
  background-color rgba(244, 248, 251, 1)

ul,
ol,
li
  list-style none

a
  outline none
  cursor pointer
  color #3F87FF
  font-weight 500
  font-szie 12px
a,
ins,
s,
u,
del
  border none
  text-decoration none

button
  border none
  margin 0
  padding 0
  background-color rgba(225,225,225,0)

input{
  outline none
}
input[border=0]{
  border 0
}

.el-table-filter__bottom{
  overflow hidden
  button {
    float right
  }
}
